.sidebar{
    position: fixed;
    box-shadow:5px 2px 5px rgb(241, 238, 238);
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    color: #009444;
}
.sidebar svg{
    margin-right: 5px;
}